@use 'variaveis';

.cast {
    padding: 5.6vw;
    min-height: 90vh;
    background-color: variaveis.$corDeFundoSecundario;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;



    &__content {
        min-width: 80vw;

    }

    &__title {
        color: #f0f8ff;
        font-size: 48px;
        margin-bottom: 20px;

    }

    &__actors {}

    &__list {
        display: flex;
        justify-content: space-around;
        margin: 0;
        padding: 0;
        flex-wrap: wrap;
    }

    &__item {
        margin: 12px;

        font-size: 20px;
    }


    &__name {
        color: #f4c430 !important;
        margin-top: 20px;

        &--is-active {

            font-size: 28px !important;
            margin-top: 26px;
            font-family: Croassaint;
            text-shadow: 3px 3px 0 rgba(0, 0, 0, 0.5);
        }
    }

    &__img {
        width: 200px;
        height: 280px;
        border-radius: 7px;
        -webkit-filter: grayscale(1);
        filter: grayscale(1);
        transition: transform 0.6s ease, filter 0.3s ease, box-shadow 0.3s ease;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

        &:hover,
        &--active {
            -webkit-filter: grayscale(0);
            filter: grayscale(0);
            cursor: pointer;
            transform: scale(1.1);
            box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
            transition: transform 0.6s ease;
        }
    }

    &__description {

        margin-top: 20px;
        text-align: left;

        &__item {

            display: none;
            background-color: variaveis.$corDeFundo;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);

            .text {

                font-family: Croassaint;
                font-size: 16px;
            }

            .title--small {

                font-size: 24px;
            }
        }
    }


}