@use 'variaveis';

.hero {
    padding: 5.6vw;
    min-height: 80vh;
    text-align: center;
    display: flex;
    background-color: variaveis.$corDeFundo;

    @media (max-width: 768px) {
        background-image: url(../images/hero_celular.jpeg);
        padding-top: calc(50vw + 25px);
        background-size: contain;
        flex-wrap: wrap;
        margin-top: -55px;
        padding: 2vw;
        justify-content: center;
        align-items: center;

    }

    &__content {
        display: flex;
        max-width: 1200px;

        &__details {
            z-index: 1;
            padding-top: 80px;

            .title--small {
                padding-bottom: 20px;
            }

            .text {
                font-family: Croassaint, sans-serif;
            }

            &__list {
                padding-top: 20px;
                list-style: none;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;

                &__item {
                    margin-right: 18px;
                    font-size: 18px;
                    font-weight: 700;

                    border-right: 1px solid black;
                    padding-right: 12px;

                    &:last-child {

                        border-right: none;
                    }
                }
            }
        }
    }

    &__image {

        max-width: 400px;
        margin-left: 40px;

        @media (max-width: 768px) {

            margin: 0;
        }

    }




}