@use 'variaveis';

.inspirations {
    padding: 5.6vw;
    background-color: variaveis.$corDeFundo;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;





    &__content {

        min-width: 80vw;
        margin: 0 auto;
    }

    &__tabs {
        display: flex;
        justify-content: center;
        padding: 20px;

        &__button {
            color: variaveis.$corTextoSecundario;
            font-size: 20px;
            border: none;
            padding-bottom: 5px;
            background: none;
            text-transform: uppercase;
            margin: 0 1vw;
            cursor: pointer;
            border-bottom: 5px solid transparent;
            transition: transform 0.5s ease;
            margin: 0 15px;


            &:hover {

                transform: scale(1.1);
                color: variaveis.$corTextoPrincipal ;
            }

            &--is-active {
                border-color: variaveis.$corTextoSecundario;
                transform: scale(1.1);
                color: variaveis.$corTextoPrincipal ;
            }

            @media (max-width: 768px) {
                font-size: 16px;
            }
        }
    }

    &__panel {
        padding: 20PX;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 1.0);
        display: none;

        &--is-active {

            display: block;
        }
    }

    &__panel {

        h3 {

            padding-bottom: 20px;
        }

        p {

            padding: 20px;
            text-align: left;
            text-shadow: 3px 3px 0 rgba(0, 0, 0, 0.5);

        }

        img {

            width: 100%;
        }

        &__content {

            display: flex;
            flex-wrap: wrap;
        }

        &__literary {

            img {

                width: 370px;

            }

            .inline {

                max-width: 440px;
            }
        }

    }


}